header {
  font-family: 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(to right, blue, white);
  color: white;
  margin: .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  margin: .2rem;
  font-weight: 900;
}

header>div {
  margin-right: .4rem;
}

button {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #D3D0C9;
  border-radius: 0;
  border-left: solid 2px white;
  border-top: solid 2px white;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  font-size: 1rem;
  margin: 1px;
  font-weight: bold;
  cursor: pointer;
}

.action-area {
  margin: .5rem 1rem;
  display: flex;
  justify-content: space-between;
}

input, textarea {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: white;
  border-radius: 0;
  border-left: solid 2px white;
  border-top: solid 2px white;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  font-size: 1rem;
  margin: 1px;
}

input:focus, textarea:focus {
  outline: none;
}

nav {
  margin: .5rem 1rem;
  margin-bottom: 0;
}

nav a {
  font-family: 'Trebuchet MS', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  background-color: #D3D0C9;
  border-right: solid 2px black;
  border-top: solid 2px white;
  border-left: solid 2px white;
  border-bottom: none;
  display: inline-block;
  padding: 0 .2rem;
}

.pageSelected {
  transform: translateY(2px);
}

main {
  margin: 1rem;
  margin-top: 0;
  height: 500px;
  border-right: solid 2px black;
  border-top: solid 2px white;
  border-left: solid 2px white;
  border-bottom: solid 2px black;
  padding: .5rem 1rem 1rem 1rem;
  overflow-y: scroll;
}

main:has(form) {
  margin-top: 1rem;
}

.createYap {
  background-color: limegreen;
  color: white;
}

.createYap:hover {
  background-color: green;
}

.yap {
  border-right: solid 2px black;
  border-top: solid 2px white;
  border-left: solid 2px white;
  border-bottom: solid 2px black;
  padding: .5rem;
  margin: .5rem 0;
}

.yap-header {
  display: flex;
  align-items: center;
}

.yap-header h2 {
  font-size: 1rem;
  margin: 0 .2rem 0 0;
}

.yap-header p {
  color: #6d6c69;
  margin: 0 .2rem;
}

.yap p {
  margin: .3rem;
}

.logoutBtn:hover, .closePopup:hover {
  background-color: red;
  color: white;
}

.infoBtn:hover {
  background-color: blue;
  color: white;
}

.searchBtn {
  image-rendering: pixelated;
}

.searchBtn:hover {
  background-color: orange;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlayCloser {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  background-color: #D3D0C9;
  padding: .2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  display: block;
  border-right: solid 2px black;
  border-top: solid 2px white;
  border-left: solid 2px white;
  border-bottom: solid 2px black;
  z-index: 2;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, blue, white);
  padding: .1rem;
}

.popupHeader h2 {
  color: white;
  margin: 0;
  margin-left: .2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.createYapForm {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.createYapForm label {
  margin: .2rem 0;
}

.createYapForm textarea {
  resize: vertical;
  height: 7rem;
}

.createYapForm button {
  margin-top: .5rem;
  background-color: limegreen;
  color: white;
}

.createYapForm button:hover {
  background-color: green;
}

.loginForm, .registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  width: 20rem;
  margin: 0 auto;
}

.loginForm button, .registerForm button {
  margin-top: .5rem;
}

.loginForm button:hover, .registerForm button:hover {
  background-color: #b4afa3;
}

.loginForm div, .registerForm div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.authTitle {
  font-size: 1.5rem;
  margin: .5rem;
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
}

.logregText {
  font-size: 1rem;
  margin: .5rem;
  text-align: center;
}

.logregText a {
  color: rgb(70, 111, 200);
  padding: .2rem .5rem;
  font-size: 1rem;
}

/* Windows 98 Scrollbar with some modification, from: https://gist.github.com/Dakedres/0ccda599648833a1c2f65d3967aa131b */

body *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb:active {
  background: #c7c3b9;
}

body *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: #D3D0C9;
  border: 1px solid;
  border-color: #ffffff #000000 #000000 #ffffff;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-color: #c7c3b9;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

body *::-webkit-scrollbar-button:active {
  background-color: #c7c3b9;
}

body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-corner {
  background: #c7c3b9;
}